@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Autopista Las Américas, Km. 27, PCSD, La Caleta, Boca Chica.<br />
    Instituto Tecnológico de Las Américas<br />
    <abbr title="Phone"></abbr>
    Tel: 809-738-4852

    Fax: 809-738-4800

    E-mail: info@itla.edu.do
</address>

<address>
    <strong>Support:</strong> <a href="https://www.itla.edu.do/servicios">https://www.itla.edu.do/servicios</a><br />
    <strong>Pagina oficial:</strong> <a href="https://www.itla.edu.do">https://www.itla.edu.do</a>
</address>
